{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark header_color fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ presentation_name.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for frame in frames %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#{{ frame.name }}">{{ frame.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Scrolling Nav</h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
      </div>
    </header>

    {% for frame in frames %}
      {% if frame.is_slider %}
        <section id="{{ frame.name }}">
          <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for slide in slides %}
              <li data-target="#carouselContent" data-slide-to={{slide.id}} class="active"></li>
              {% endfor %}
              <!-- <li data-target="#carouselContent" data-slide-to="0" class="active"></li>
              <li data-target="#carouselContent" data-slide-to="1"></li> -->
            </ol>
              <div class="carousel-inner col-lg-6 mx-auto" role="listbox">
                {% for slide in slides %}
                  {% if forloop.first %}
                    <div class="carousel-item active text-center p-4">
                      <p>{{slide.text|safe}}</p>
                    </div>
                  {% else %}
                    <div class="carousel-item text-center p-4">
                      <p>{{slide.text|safe}}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only black">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only black">Next</span>
              </a>
          </div>
        </section>
      {% else %}
        <section id="{{ frame.name }}" {% if forloop.counter|divisibleby:2 %} class="bg-light" {% endif %}>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                {{ frame.text|safe }}
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    {% endfor %}


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Custom js -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>
